footer{
    background-color: beige;
    margin-top: auto;
    bottom: 0;
    width: 100%; 
    .contact{
        text-align: center;
        display: flex;
        flex-direction: column;
      
    
    }  
}