header{
    text-align: center;
    background-image: url(../img/more-leaves.png);
    background-color: beige;
    
    .imglogo{
        text-align: center;
        width: 140px;
        border: #00a9e0 3px solid;
        border-radius: 30px;
        margin: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
    }
   .navbar{
       padding: 5px;
       border: solid 3px $color-nav;
       
      .container-fluid{
        display: flex;
        background-color: $color-nav;
        
       
        .nav-item{
            width: 100px;
            text-align: center;
        }
        .nav-item:hover{
            background-color: #00a9e0;
            width: 100px;
            
            border-radius: 20px;
            
        }
      }  
    }
    
    
}