$box-shadow-btn: 0 0 20px rgba(25, 254, 0, 0.4); 
$box-shadow-merch :0 0 10px rgba(0, 0, 0, .5);

$background-color: #00a9e0;
$color-nav: rgb(189, 181, 181);
$font-primary: 'Edu AU VIC WA NT Hand', sans-serif;
$label: 
    (color: #283629, 
    font-size: 15px,
    font-weight: 600,
    margin-bottom: 15px)


   